<div *ngIf="repoResult">
  <div *ngFor="let item of repoResult">
    <p [class.selected]="item.commit.sha === selectedCommit" (click)="getCommitInfo(item.commit.sha)">{{item.name}}</p>
  </div>
</div>
