<div *ngIf="dataSer.currentRepo" class="container_scritta">
    <h1>{{dataSer.currentRepo}}</h1>
    <button class="research" mat-icon-button (click)="backToSearch()">
        <mat-icon aria-label="Back To Search">youtube_searched_for</mat-icon>
    </button>
</div>
<div class="container">
    <app-commit-list id="commitlist" [repoResult]="dataSer.repoResult"></app-commit-list>
    <app-commit-details id="commitdetail" [currentCommit$]="dataSer.currentCommit$"></app-commit-details>
</div>
