.container {
    display: inline-flex;
    width: 98%;
    flex-direction: row;
    margin-left: 2%
}
#commitdetail {
    margin-left: 2%;
    width: 60%;
}
#commitlist {
    border-right: 2px solid #001B2C;
    width: 38%
}
.container_scritta {
    border-bottom: 2px solid #001B2C;
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    justify-content: flex-start;
}
h1 {
    margin: 28px;
}
.research {
    background-color: #004A94;
    color: #43C3DD;
    margin-left: 20px
}
