<div id="divSearch">
  <mat-form-field appearance="outline">
    <mat-label>Search...</mat-label>
    <input (input)="searchString = $event.target.value" (keyup.enter)="getRepo($event.target.value)" matInput placeholder="<user>/<repository>">
    <mat-icon (click)="getRepo(searchString)" matSuffix>search</mat-icon>
    <!--mat-hint>&lt;user&gt;/&lt;repository&gt;</mat-hint-->
  </mat-form-field>
  <div id="loginGitHub">
      <p *ngIf="dataSer.argToken">HOLA &nbsp; <b>{{dataSer.user.email}}</b></p>
      <p *ngIf="!dataSer.argToken">Sei in cerca di un repository privato? Dimostra di aver l'autorizzazione &nbsp;&nbsp;&nbsp;</p>
      <button *ngIf="!dataSer.argToken" (click)="login()" mat-raised-button color="primary">LOGGANDO</button>
  </div>
</div>
