mat-form-field {
    width: 320px;
    margin: 30px;
    display: block;
    font-size: 20px;
}
mat-icon {
    cursor: pointer;
}
#loginGitHub {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
}
#divSearch {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%
}