/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Kalam', cursive;
    margin: 0;
    background-color: rgba(217,237,248,.8);
}